@use '../../styles/design-tokens' as *;

.tf-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  line-height: 0;

  &__img {
    display: block;
  }
}
